@import url('base.css');
$width:7.5rem;
$height:13.34rem;
$bgcolor:-webkit-linear-gradient(0deg,#fc3790,#fb37c9);


#Alredy-point{
  width: $width;
  height: $height;
  background-image: $bgcolor;
  header{
      width:100%;
      padding:0.48rem 0.24rem 0;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      background-image: $bgcolor;
      position: fixed;
      top: 0;
      left:0;
      z-index: 999;
      a{
        display:block ;
        width:0.38rem;
        height: 0.38rem;
        margin-bottom: 1.08rem;
        position: relative;
      }
      img{
        width:0.38rem;
        height: 0.38rem;
        position: absolute;
        top: 0;
        left: 0;
  }
      p{
        font-size: 0.32rem;
        color: #fff;
      }
  }
  main{
    width: 100%;
    background: url(../img/listbg.png) no-repeat center top;
    background-size: contain;
    overflow: hidden;
    margin-top: 1.94rem;
    ul{
      width: 100%;
      padding: 0 0.24rem;
      box-sizing: border-box;
      margin-top: 1.08rem;
      background: #f7f7f7;
      li{
        width: 100%;
        height: 1.5rem;
        border-bottom: 1px dashed #b7b7b7;
        display: flex;
        align-items: center;
        .imgbox{
          width: 1.16rem;
          height: 1.16rem;
          background: url("../img/ingbg.png") no-repeat ;
          background-size: cover;
          position: relative;

            #imgname{
              width: 90%;
              height: 90%;
              border-radius: 0.2rem;
              position: absolute;
              top: 0;
              bottom: 0;
              margin-top: auto;
              margin-bottom: auto;
              left: 0;
            }


        }
        .text{
          margin-left: 0.4rem;
          p:first-child{
            font-size: 0.26rem;
            color: #58606d;
          }
          p:last-child{
            font-size: 0.24rem;
            color: #c6c6c6;
          }
        }
        .icon{
          width: auto;
          height: auto;
          margin-left: 1.8rem;
          img{
            display: block;
            width: 0.47rem;
            height: 0.47rem;
            float: left;
          }
          img:last-child{
            margin-left: 0.35rem;
          }
        }
      }
      li:last-child{
        border-bottom: none;
      }
    }
  }
}