@import url("base.css");
#Alredy-point {
  width: 7.5rem;
  height: 13.34rem;
  background: #f7f7f7; }
  #Alredy-point header {
    width: 100%;
    padding: 0.48rem 0.24rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-image: -webkit-linear-gradient(0deg, #fc3790, #fb37c9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; }
    #Alredy-point header a {
      display: block;
      width: 0.38rem;
      height: 0.38rem;
      margin-bottom: 1.08rem;
      position: relative; }
    #Alredy-point header img {
      width: 0.38rem;
      height: 0.38rem;
      position: absolute;
      top: 0;
      left: 0; }
    #Alredy-point header p {
      font-size: 0.32rem;
      color: #fff; }
  #Alredy-point .img {
    width: 7.5rem;
    height: 1.6rem;
    overflow: hidden;
    position: fixed;
    top: 1rem;
    left: 0;
    z-index: 1000; }
    #Alredy-point .img img {
      width: 7.5rem; }
  #Alredy-point main {
    width: 100%;
    overflow: hidden;
    margin-top: 1.94rem; }
    #Alredy-point main ul {
      width: 100%;
      padding: 0 0.24rem;
      box-sizing: border-box;
      margin-top: 1.08rem;
      background: #f7f7f7; }
      #Alredy-point main ul li {
        width: 100%;
        height: 1.5rem;
        border-bottom: 1px dashed #b7b7b7;
        display: flex;
        align-items: center; }
        #Alredy-point main ul li .imgbox {
          width: 1.16rem;
          height: 1.16rem;
          background: url("../img/ingbg.png") no-repeat center;
          background-size: contain;
          position: relative; }
          #Alredy-point main ul li .imgbox .imgboxl {
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 0.2rem;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            left: 0;
            overflow: hidden; }
            #Alredy-point main ul li .imgbox .imgboxl #imgname {
              width: 1.10rem; }
        #Alredy-point main ul li .text {
          margin-left: 0.4rem; }
          #Alredy-point main ul li .text p:first-child {
            font-size: 0.26rem;
            color: #58606d; }
          #Alredy-point main ul li .text p:last-child {
            font-size: 0.24rem;
            color: #c6c6c6; }
        #Alredy-point main ul li .icon {
          width: auto;
          height: auto;
          margin-left: 1.8rem; }
          #Alredy-point main ul li .icon img {
            display: block;
            width: 0.47rem;
            height: 0.47rem;
            float: left; }
          #Alredy-point main ul li .icon img:last-child {
            margin-left: 0.35rem; }
      #Alredy-point main ul li:last-child {
        border-bottom: none; }
