@charset "UTF-8";
@import url("base.css");
body {
  width: 100%;
  height: auto;
  background-image: url("../img/nody.png");
  background-size: 7.5rem auto;
  background-repeat: no-repeat; }

/*头部*/
.box {
  width: 7.2rem;
  height: .4rem;
  margin: .4rem auto; }

.zhong {
  width: 2.94rem;
  height: 100%;
  margin: 0 auto; }

.box .icon-07jiantouxiangzuo {
  color: #fff;
  font-size: .36rem;
  float: left; }

.zhong {
  font-size: .26rem;
  text-align: center;
  color: #fff;
  line-height: .4rem;
  position: relative; }

.zhong span {
  font-weight: bold; }

.xia span {
  font-weight: bold; }

.dian {
  width: .06rem;
  height: .06rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.dian1 {
  width: .06rem;
  height: .06rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.xia {
  width: 1rem;
  height: .26rem;
  font-size: .22rem;
  text-align: center;
  margin: 0 auto;
  color: #fff; }

/*头部结束*/
/*中间开始*/
main {
  width: 7.2rem;
  height: 8.8rem;
  margin: .4rem auto;
  background: #fff;
  border-radius: 0.1rem;
  overflow: hidden;
  box-shadow: 0rem 0rem 0.1rem 0.08rem rgba(130, 130, 130, 0.1); }

.hezi {
  width: 7.2rem;
  height: 2rem;
  margin-top: 0.7rem; }

.img {
  width: 2.57rem;
  height: 2rem;
  float: left; }

.you {
  width: 4.6rem;
  height: 2rem;
  float: right; }

.chil {
  font-size: .24rem;
  color: #fc3195;
  font-weight: bold;
  margin-top: .26rem; }

.keyi {
  font-size: .24rem;
  color: #454d58;
  margin-top: 0.1rem; }

.keyi span {
  color: #a2a2a2;
  font-size: .22rem; }

.bao {
  width: 90%;
  height: 0.16rem;
  margin-top: .1rem; }

.xian {
  border-bottom: 1px dashed #c9c9c9;
  width: 3.98rem;
  float: left;
  margin-top: 0.03rem; }

.x {
  width: .08rem;
  height: .08rem;
  background: #c9c9c9;
  border-radius: 50%;
  float: left; }

.x1 {
  width: .08rem;
  height: .08rem;
  background: #c9c9c9;
  border-radius: 50%;
  float: right; }

.rmb {
  width: 4.6rem;
  height: .4rem;
  margin-top: .3rem;
  display: flex;
  justify-content: space-between; }

.zuojia {
  width: 1.8rem;
  height: 100%;
  display: flex;
  justify-content: space-between; }

.zuojia .icon-jianshao_f {
  font-size: .35rem;
  color: #dcdcdc; }

.zuojia .icon-webicon308 {
  font-size: .38rem;
  color: #33affe; }

.ban {
  width: .8rem;
  height: .35rem;
  border: 1px solid #d2d2d2;
  border-radius: .2rem; }

.ban {
  color: #858585;
  font-size: 0.2rem;
  text-align: center;
  line-height: .35rem;
  font-weight: bold; }

.youjia {
  width: 2.48rem;
  height: 100%; }

.baormb {
  width: 1.28rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.zb {
  font-size: .32rem;
  color: #fe318e; }

.yb {
  width: .7rem;
  height: 100%; }

.top {
  width: .7rem;
  height: .1rem;
  margin-top: .04rem; }

.left {
  width: .3rem;
  height: .05rem;
  background: #fe318e;
  border-radius: 0.5rem;
  float: left;
  margin-left: 0.09rem; }

.rith {
  width: 0.05rem;
  height: .05rem;
  border-radius: 50%;
  background: #fe318e;
  float: right; }

.qian {
  font-size: .18rem;
  color: #fe318e;
  margin-left: 0.03rem;
  font-weight: bold; }

/*中间结束*/
/*底部开始*/
footer {
  width: 7.2rem;
  height: .5rem;
  margin: .7rem auto; }

.sam {
  float: right;
  font-size: .46rem;
  color: #ff318e;
  font-weight: bold; }

.lin {
  float: right;
  width: .55rem;
  height: 100%; }

.zong {
  font-size: .22rem;
  color: #ff318e; }

.rqian {
  font-size: .18rem;
  font-weight: bold;
  color: #b8b8b8;
  margin-top: 0.05rem; }

.xis {
  width: 0.1rem;
  height: 0.37rem;
  border-left: 1px dashed #c9c9c9;
  float: right; }

.total {
  float: right;
  font-size: .46rem;
  color: #ccd3e2;
  margin-right: .08rem; }

.button {
  width: 5.65rem;
  height: .8rem;
  background: #fc3195;
  border-radius: .5rem;
  margin: 0 auto;
  font-size: .30rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative; }

.button img {
  position: absolute;
  left: 0;
  top: 0; }

.qr {
  position: absolute;
  left: 2.25rem;
  top: 0;
  bottom: 0; }

.dia {
  width: .08rem;
  height: .08rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.dia1 {
  width: .08rem;
  height: .08rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: 2rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

/*底部结束*/
