@import url("base.css");
.product{
  width:100%;
  height:13.06rem;
  background-image:linear-gradient(-135deg,#da31e9,#ff318d 40%);
  overflow: hidden;
}
.fenlei{
  width:3.37rem;
  height:0.66rem;
  border-radius:0.3rem ;
  background: #fff;
  margin:0 auto;
  margin-top:0.4rem;
  overflow: hidden;
  .jiushui{
    margin-top: 0.07rem;
    margin-left: 0.07rem;
    width:1.51rem;
    height: 0.47rem;
    border:2px solid #e5267c;
    border-radius: 0.3rem;
    background: #ff318d;
    float: left;
    .ontip{
      font-size: 0.24rem;
      color:#fff;
      line-height:0.47rem ;
      display: block;
      float: left;
      margin-left: 0.35rem;
      margin-right: 0.1rem;
    }
    .totip{
      font-size: 0.24rem;
      color:#ff88bd;
      display: block;
      float: left;
      line-height:0.47rem ;
    }
  }
  .lingshi{
    margin-top: 0.07rem;
    margin-left: 0.07rem;
    width:1.51rem;
    height: 0.47rem;
    border:2px solid #fff;
    border-radius: 0.3rem;
    background: #fff;
    float: left;
    .ontip{
      font-size: 0.24rem;
      color:#50566a;
      line-height:0.47rem ;
      display: block;
      float: left;
      margin-left: 0.35rem;
      margin-right: 0.1rem;
    }
    .totip{
      font-size: 0.24rem;
      color:#50566a;
      display: block;
      float: left;
      line-height:0.47rem ;
    }
  }
}