<<<<<<< Updated upstream
@import url("base.css");
.product {
  width: 100%;
  height: 13.06rem;
=======
@charset "UTF-8";
@import url("base.css");
.product {
  width: 100%;
  height: auto;
>>>>>>> Stashed changes
  background-image: linear-gradient(-135deg, #da31e9, #ff318d 40%);
  overflow: hidden; }

.fenlei {
  width: 3.37rem;
  height: 0.66rem;
  border-radius: 0.3rem;
  background: #fff;
  margin: 0 auto;
  margin-top: 0.4rem;
  overflow: hidden; }
  .fenlei .jiushui {
    margin-top: 0.07rem;
    margin-left: 0.07rem;
    width: 1.51rem;
    height: 0.47rem;
    border: 2px solid #e5267c;
    border-radius: 0.3rem;
    background: #ff318d;
    float: left; }
    .fenlei .jiushui .ontip {
      font-size: 0.24rem;
      color: #fff;
      line-height: 0.47rem;
      display: block;
      float: left;
      margin-left: 0.35rem;
      margin-right: 0.1rem; }
    .fenlei .jiushui .totip {
      font-size: 0.24rem;
      color: #ff88bd;
      display: block;
      float: left;
      line-height: 0.47rem; }
  .fenlei .lingshi {
    margin-top: 0.07rem;
    margin-left: 0.07rem;
    width: 1.51rem;
    height: 0.47rem;
    border: 2px solid #fff;
    border-radius: 0.3rem;
    background: #fff;
    float: left; }
    .fenlei .lingshi .ontip {
      font-size: 0.24rem;
      color: #50566a;
      line-height: 0.47rem;
      display: block;
      float: left;
      margin-left: 0.35rem;
      margin-right: 0.1rem; }
    .fenlei .lingshi .totip {
      font-size: 0.24rem;
      color: #50566a;
      display: block;
      float: left;
      line-height: 0.47rem; }
<<<<<<< Updated upstream
=======

.dibu {
  width: 100%;
  height: 11.9rem;
  background-image: url("../img/hu2.png");
  background-size: 100% 100%;
  margin-top: 0.22rem;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  box-sizing: border-box;
  /*已选*/ }
  .dibu ul {
    width: 100%;
    height: 8.55rem;
    padding-top: 0.9rem; }
    .dibu ul li {
      width: 100%;
      height: 2.67rem;
      border-bottom: 1px  dashed #bab9b9;
      position: relative; }
      .dibu ul li .juice {
        width: 3.51rem;
        height: 2.57rem;
        float: left; }
      .dibu ul li .juiceinfor {
        width: 3.49rem;
        height: 100%;
        float: left;
        padding-top: 0.4rem;
        box-sizing: border-box; }
        .dibu ul li .juiceinfor .jutop span {
          font-size: 0.24rem;
          color: #575861;
          display: block;
          float: left;
          line-height: 0.39rem; }
        .dibu ul li .juiceinfor .jutop img {
          display: block;
          float: left;
          width: 0.94rem;
          height: 0.38rem; }
        .dibu ul li .juiceinfor .jutop {
          height: 0.39rem; }
        .dibu ul li .juiceinfor .waizi {
          margin-top: 0.19rem;
          font-size: 0.18rem;
          color: #ff326c; }
        .dibu ul li .juiceinfor .del {
          width: 0.35rem;
          height: 0.35rem;
          border-radius: 50%;
          background: #dcdcdc;
          color: #fff;
          text-align: center;
          line-height: 0.35rem;
          display: block;
          float: left;
          font-size: 0.15rem;
          margin-right: 0.14rem;
          margin-top: 0.02rem; }
        .dibu ul li .juiceinfor .adde {
          width: 0.35rem;
          height: 0.35rem;
          border-radius: 50%;
          background: #33affe;
          color: #fff;
          text-align: center;
          line-height: 0.35rem;
          display: block;
          float: left;
          font-size: 0.15rem;
          margin-top: 0.02rem; }
        .dibu ul li .juiceinfor .count {
          width: 0.81rem;
          height: 0.36rem;
          background: #fff;
          border: 2px solid #dcdcdc;
          font-size: 0.19rem;
          color: #858585;
          text-align: center;
          line-height: 0.38rem;
          display: block;
          float: left;
          border-radius: 0.18rem;
          margin-right: 0.14rem;
          font-weight: bold; }
        .dibu ul li .juiceinfor .jubot {
          height: 0.9rem;
          padding: 0.02rem;
          margin-top: 0.2rem; }
      .dibu ul li .one, .dibu ul li .two {
        width: 1px;
        height: 1px;
        background: #000000; }
      .dibu ul li .one {
        position: absolute;
        left: 0;
        bottom: -0.02rem; }
      .dibu ul li .two {
        position: absolute;
        right: 0;
        bottom: -0.02rem; }
  .dibu .already {
    width: 100%;
    margin-top: 0.5rem;
    height: 0.44rem; }
    .dibu .already .alxuan {
      font-size: 0.28rem;
      color: #3b3b3b;
      display: block;
      float: left;
      margin-top: 0.08rem;
      margin-right: 0.31rem; }
    .dibu .already .xuan1 {
      width: 2.04rem;
      height: 0.44rem;
      border-radius: 0.08rem;
      border: 0.01rem solid #e12c7e;
      background: #ff318e;
      text-align: center;
      line-height: 0.4rem;
      color: #fff;
      font-size: 0.24rem;
      float: left;
      margin-right: 0.19rem; }
    .dibu .already .xuan2 {
      width: 1.58rem;
      height: 0.44rem;
      border-radius: 0.08rem;
      border: 0.01rem solid #e12c7e;
      background: #ff318e;
      text-align: center;
      line-height: 0.4rem;
      color: #fff;
      font-size: 0.24rem;
      float: left;
      margin-right: 0.19rem; }
    .dibu .already .xuan3 {
      width: 1.44rem;
      height: 0.44rem;
      border-radius: 0.08rem;
      border: 0.01rem solid #e12c7e;
      background: #ff318e;
      text-align: center;
      line-height: 0.4rem;
      color: #fff;
      font-size: 0.24rem;
      float: left; }
    .dibu .already .circle {
      width: 0.42rem;
      height: 0.08rem;
      float: right;
      display: flex;
      justify-content: space-between;
      margin-top: 0.16rem; }
      .dibu .already .circle p {
        width: 0.08rem;
        height: 0.08rem;
        border-radius: 50%;
        background: #ff83bb; }
  .dibu .numprice {
    float: left;
    font-size: 0.32rem;
    color: #fa3c72;
    height: 0.39rem;
    width: 2.27rem;
    margin-top: 0.7rem; }
  .dibu .aniu {
    width: 3.58rem;
    height: 0.83rem;
    float: right;
    background-image: url("../img/anniu.png");
    background-size: 100% 100%;
    margin-top: 0.55rem;
    padding: 0.26rem 0.98rem;
    box-sizing: border-box; }
    .dibu .aniu span {
      font-size: 0.3rem;
      color: #fff;
      display: block;
      float: left;
      margin-right: 0.23rem; }
    .dibu .aniu:before {
      content: "";
      display: block;
      width: 0.08rem;
      height: 0.08rem;
      background: #fff;
      border-radius: 50%;
      float: left;
      margin-top: 0.14rem;
      margin-right: 0.32rem; }
    .dibu .aniu:after {
      content: "";
      display: block;
      width: 0.08rem;
      height: 0.08rem;
      background: #fff;
      border-radius: 50%;
      float: left;
      margin-top: 0.14rem; }
>>>>>>> Stashed changes
