.rank-head{
  width:100%;
  min-height:2.66rem;
  padding:0.4rem 0.24rem 0;
  position: fixed;
  top:0;
  left:0;
  background: url("../img/rankingList/topBG.png") no-repeat;
  background-size:cover;
  z-index: 999;
  div{
    width:100%;
    height:0.88rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      font-size: 0.36rem;
      color:white;
    }
    a{
      width:0.4rem;
      height:0.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width:0.4rem;
        height:0.4rem;
        display: block;
      }
    }
  }
  .select{
    width:100%;
    height:1.12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li{
      width:100%;
      a{
        color:white;
      }
      a:nth-child(2){
        display: flex;
        align-items: center;
        img{
          width:0.3rem;
          height:0.3rem;
          margin-right: 0.12rem;
        }
      }
    }
    .selectTop{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:0.04rem 0.14rem 0;
      font-size: 0.22rem;
    }
    .selectBottom{
      background: white;
      height:0.6rem;
      border-radius: 0.08rem;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      a{
        width:33.2%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#333;
        font-size: 0.24rem;
        border:0.02rem solid white;
      }
      .highLight{
        background: #fe318e;
        color:white;
      }
    }
  }
}
.allStuff{
  width:100%;
  height:auto;
  position: absolute;
  top:2.62rem;
  left:0;
  .banner{
    width:100%;
    height:3.42rem;
    padding:0 0.24rem;
    display: flex;
    justify-content: center;
    position: relative;
    background: url("../img/rankingList/bannerBG.png") no-repeat;
    background-size: cover;
    .search{
      width:4.58rem;
      height:0.64rem;
      border:0.02rem solid white;
      position: absolute;
      bottom: 0.44rem;
      z-index: 998;
      border-radius: 0.32rem;
      overflow: hidden;
      display: flex;
      input{
        display: block;
        width:80%;
        height:100%;
        font-size: 0.26rem;
        padding:0 0.3rem;
        border:none;
      }
      a{
        background: #fe3191;
        width:20%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width:0.4rem;
          height:0.4rem;
        }
      }
    }
    li{
      width:4.96rem;
      height:3.12rem;
      position: absolute;
      border: 0.02rem solid white;
      border-radius: 0.08rem;
      overflow: hidden;
      z-index: 997;
      a{
        width:4.96rem;
        height:3.12rem;
        display: block;
        img{
          width:4.96rem;
          height:3.12rem;
        }
      }
    }
    li:nth-child(2){
      transform: scale(0.8);
      position: absolute;
      left: 0;
      z-index: 996;
    }
    li:nth-child(4){
      transform: scale(0.8);
      position: absolute;
      right: 0;
      z-index: 996;
    }
  }
  .singerLists{
    width:100%;
    height:auto;
    padding:0.24rem;
    .singer{
      width:100%;
      height:1.58rem;
      border-bottom: 0.02rem dashed rgba(0,0,0,0.2);
      a{
        width:100%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        img{
          width:1.06rem;
          height:1.06rem;
          display: block;
          border-radius: 0.08rem;
        }
        .photoDec{
          width:1.16rem;
          height:1.16rem;
          position: absolute;
          z-index: -1;
        }
        .singerInfo{
          width:100%;
          height:100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 0.5rem;
          .singerName{
            font-size: 0.26rem;
            color:#58606d;
            font-weight: bold;
            margin-bottom: 0.1rem;
          }
          .songTime{
            font-size: 0.24rem;
            color:#c6c6c6;
          }
        }
      }
    }
  }
}
