.rank-head{
  width:100%;
  height:1.28rem;
  padding:0.4rem 0.24rem 0;
  position: fixed;
  top:0;
  left:0;
  background: url("../img/rankingList/topBG.png") no-repeat;
  background-size:cover;
  z-index: 999;
  div{
    width:100%;
    height:0.88rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      font-size: 0.36rem;
      color:white;
    }
    a{
      width:0.4rem;
      height:0.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width:0.4rem;
        height:0.4rem;
        display: block;
      }
    }
  }
}
.allStuff{
  width:100%;
  height:auto;
  padding:0.24rem;
  position: relative;
  top:1.28rem;
  left: 0;
  .moveBG{
    width:100%;
    height:3.34rem;
    position: absolute;
    top:0;
    left: 0;
    background: url("../img/recommended/moveBG.png") no-repeat top;
    background-size: cover;
    z-index: -1;
  }
  .section{
    width:100%;
    height:3.20rem;
    border:0.02rem solid #fff;
    border-radius: 0.08rem;
    overflow: hidden;
    box-shadow: 0 0 0.18rem 0 #ff318d;
    position: relative;
    margin-bottom: 0.28rem;
    img{
      width:7.02rem;
      height:3.2rem;
    }
    .describe{
      width:3.2rem;
      height:0.52rem;
      position: absolute;
      bottom: 0.28rem;
      background: #3ab7ff;
      border-radius: 0.08rem;
      left:0.66rem;
      color:white;
      font-size: 0.28rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 998;
    }
    .behind{
      width:2.62rem;
      z-index: 997;
      bottom:0.4rem;
      right:0.7rem;
      left: unset;
      font-size: 0.24rem;
      background: #1aa5f5;
      span{
        display: flex;
        align-items: center;
        font-size: 0.24rem;
        margin:0 0.18rem;
        img{
          display: block;
          width:0.18rem;
          height:0.2rem;
        }
      }
    }
  }
}