@import url("base.css");

$width:7.5rem;
$bgColor:#f5f3ff url("../img/singer-list1.png") no-repeat top center/100% auto;

#singer-list{
  width: $width;
  background: $bgColor;
}

.banner{
  width: $width;
  height: 2.28rem;
  padding: 0.15rem 0.24rem;

  .title{
    width: 100%;
    height: 0.88rem;
    background-color: transparent;
    font-size: 0.33rem;
    color: #fff;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;

    p{
      text-align: center;
      line-height: 0.88rem;
    }
    a{
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      top: 0.24rem;
      left: 0;
    }
    i{
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      background: url("../img/singer-list-back.png") no-repeat center center/100% auto;
    }
  }

  .content{
    width: 100%;
    height: 1.40rem;

    .classification{
      width: 100%;
      height: 0.47rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 0.24rem;
      color: #ffffff;

      .list{
        flex: 1;
        text-align: center;
        position: relative;

        i{
          display: block;
          position: absolute;
          top: 0;
          left: 0.21rem;
          width: 0.30rem;
          height: 0.30rem;
          background: url("../img/singer-list-music.png") no-repeat center center/100% auto;
        }
      }
    }

    .inputBox{
      width: 100%;
      height: 0.68rem;
      margin-top: 0.15rem;
      position: relative;

      i{
        display: block;
        width: 0.30rem;
        height: 0.30rem;
        position: absolute;
        top: 0.20rem;
        left: 22vw;
        background: url("../img/singer-list-search.png") no-repeat center center/100% auto;
      }
      input{
        display: block;
        width: 100%;
        height: 100%;
        border: 0;
        outline: 0;
        border-radius: 0.08rem;
        text-align: center;
      }
      ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #c9cad5;
      }
    }
  }
}

.singer-list-con{
  width: $width;
  height: 10.66rem;
  padding: 0 0 0 0.24rem;
  margin-top: 0.4rem;

  .con-list{
    width: 2.14rem;
    height: 3.52rem;
    float: left;
    margin-right: 0.25rem;

    img{
      display: block;
      width: 100%;
      height: 2.98rem;
    }

    p{
      width: 100%;
      height: 0.58rem;
      line-height: 0.50rem;
      color: #575861;
      font-size: 0.24rem;
      padding-left: 0.06rem;
      font-weight: 600;

      span{
        font-weight: 400;
      }
    }
  }
}

.singerFilter{
  width: 0.24rem;
  height: 10.13rem;
  background-color: #fff;
  position: fixed;
  top: 3.25rem;
  right: 0;

  .letterBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    p{
      text-align: center;
      line-height: 0.38rem;
      color: #848091;
      font-size: 0.2rem;
    }
  }

  .letterSelect{
    width: 0.38rem;
    height: 0.28rem;
    border-top-left-radius: 0.15rem;
    border-bottom-left-radius: 0.15rem;
    background-color: #ff318d;
    position: absolute;
    top: 0.80rem;
    right: 0;
    z-index: 1;
  }
}