body {
  background: #f7f7f7; }

.rank-head {
  width: 100%;
  min-height: 2.66rem;
  padding: 0.4rem 0.24rem 0;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../img/songSheet/topBG.png") no-repeat;
  background-size: cover;
  z-index: 999; }
  .rank-head div {
    width: 100%;
    height: 0.88rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .rank-head div span {
      font-size: 0.36rem;
      color: white; }
    .rank-head div a {
      width: 0.4rem;
      height: 0.4rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .rank-head div a img {
        width: 0.4rem;
        height: 0.4rem;
        display: block; }
    .rank-head div p {
      font-size: 0.24rem;
      color: #fff; }

.allStuff {
  width: 100%;
  height: auto;
  position: absolute;
  top: 2.62rem;
  left: 0; }
  .allStuff .singerLists {
    width: 100%;
    height: auto;
    padding: 0.24rem; }
    .allStuff .singerLists .singer {
      width: 100%;
      height: 1.58rem;
      border-bottom: 0.02rem dashed rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .allStuff .singerLists .singer .seeMore {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative; }
        .allStuff .singerLists .singer .seeMore img {
          width: 1.06rem;
          height: 1.06rem;
          display: block;
          border-radius: 0.08rem; }
        .allStuff .singerLists .singer .seeMore .photoDec {
          width: 1.16rem;
          height: 1.16rem;
          position: absolute;
          z-index: -1; }
        .allStuff .singerLists .singer .seeMore .singerInfo {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 0.5rem;
          position: relative; }
          .allStuff .singerLists .singer .seeMore .singerInfo .singerName {
            font-size: 0.26rem;
            color: #58606d;
            font-weight: bold;
            margin-bottom: 0.1rem; }
          .allStuff .singerLists .singer .seeMore .singerInfo .songTime {
            font-size: 0.24rem;
            color: #c6c6c6; }
      .allStuff .singerLists .singer .add {
        width: 0.46rem;
        height: 0.46rem;
        display: flex; }
        .allStuff .singerLists .singer .add img {
          width: 0.46rem;
          height: 0.46rem; }
