@import url("base.css");

$width:7.5rem;

#song-inform{
  width: $width;
  height: 100vh;
  background: url("../img/song-inform.png") no-repeat center center/100% 100%;
}

.song-informBanner{
  width: $width;
  height: 2.18rem;
  padding: 0.15rem 0.24rem;

  .title{
    width: 100%;
    height: 0.88rem;
    background-color: transparent;
    font-size: 0.33rem;
    color: #fff;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;

    a{
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      top: 0.24rem;
      left: 0;
    }
    i{
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      background: url("../img/song-informLeft.png") no-repeat center center/100% auto;
    }
  }

  .song-message{
    width: 100%;
    height: 1rem;

    p{
      width: 100%;
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.3rem;
      color: #fff;

      span{
        display: inline-block;
        line-height: 0.5rem;
        width: 0.1rem;
        height: 0.1rem;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 0.05rem;
      }
    }
  }
}

.song-informCon{
  width: $width;
  height: 8.70rem;
  margin-top: 0.4rem;
  position: relative;
  top: 0;
  left: 0;

  .informCarousel{
    width: 5.82rem;
    height: 100%;
    margin: 0 auto;
    border-radius: 0.08rem;
    background-color: #ffffff;
    position: relative;
    top: 0;
    left: 0;

    .carouselPic{
      width: 100%;
      height: 3.98rem;
      overflow: hidden;

      img{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0.08rem;
      }
    }
    .picPlay{
      width: 1.17rem;
      height: 1.17rem;
      background: url("../img/song-informPlay.png") no-repeat center center/100% 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 1.40rem;
    }

    .songName{
      width: 100%;
      height: 0.8rem;
      font-size: 0.26rem;
      font-weight: bold;
      color: #353a41;
      line-height: 0.5rem;
      padding: 0.2rem 0 0 0.24rem;

      p{
        height: 0.03rem;
        margin: 0.03rem;
        background: url("../img/songNameLine.png") no-repeat left center/auto 100%;
      }
    }

    .songMessage{
      height: 0.8rem;
      line-height: 0.4rem;
      color: #a0a0a0;
      font-size: 0.26rem;
      padding-left: 0.24rem;
    }

    .songHot{
      width: 100%;
      padding:0.3rem 0 0 0.24rem;
      height: 0.65rem;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      overflow: hidden;

      h1{
        flex: 1;
        font-size: 0.26rem;
        color: #626262;
        font-weight: normal;

        .songInvite{
          display: inline-block;
          float: left;
          margin-right: 0.1rem;
          width: 0.35rem;
          height: 0.35rem;
          background: url("../img/songInterview.png") no-repeat left center/100% auto;
        }

        .songHotIcon{
          display: inline-block;
          float: left;
          margin-right: 0.1rem;
          width: 0.35rem;
          height: 0.35rem;
          background: url("../img/songHoticon.png") no-repeat left center/100% auto;
        }
      }
    }

    .minPic{
      width: 100%;
      height: 1.07rem;
      margin-top: 0.2rem;

      .min{
        display: block;
        width: 1.06rem;
        height: 1.06rem;
        float: left;
        margin-left: 0.24rem;
      }

      .one{
        background: url("../img/songMin-pic1.png") no-repeat center center/100% auto;
      }
      .two{
        background: url("../img/songMin-pic2.png") no-repeat center center/100% auto;
      }
      .three{
        background: url("../img/songMin-pic3.png") no-repeat center center/100% auto;
      }
    }

    .song-btns{
      width: 100%;
      height: 0.62rem;
      padding: 0 0.24rem;
      margin-top: 0.3rem;

      .btnsone{
        display: block;
        width: 45%;
        height: 100%;
        float: left;
        border-radius: 0.4rem;
        //background-color: #ec2daa;
        background: url("../img/song-select.png") no-repeat center center/100% auto;
      }

      .btnstwo{
        display: block;
        width: 45%;
        height: 100%;
        float: right;
        border-radius: 0.4rem;
        //background-color: #ec2daa;
        background: url("../img/song-PK.png") no-repeat center center/100% auto;
      }
    }
  }

  .IC2{
    width: 5.1rem;
    height: 7.62rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -4.85rem;
  }

  .IC3{
    width: 5.1rem;
    height: 7.62rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 7.25rem;
  }

  .informbear{
    width: 2.85rem;
    height: 0.35rem;
    margin: 0.8rem auto 0;

    li{
      width: 0.18rem;
      height: 0.18rem;
      border-radius: 50%;
      background-color: #fff;
      float: left;
      margin-left: 0.25rem;
    }

  }
}