@import url('base.css');
body{
  width: 100%;
  height: auto;
  background-image: url("../img/tj.png");
  background-size:7.5rem auto;
  background-repeat:no-repeat;
}
/*头部*/
.box{
  width: 7.2rem;
  height: .4rem;

  margin: .4rem auto

}
.zhong{
  width: 2.94rem;
  height: 100%;
  margin:0 auto;
}
.box .icon-07jiantouxiangzuo{
  color: #fff;
  font-size: .36rem;
  float:left;
}
.zhong{
  font-size: .30rem;
  text-align: center;
  color: #fff;
  line-height: .4rem;
  position:relative;
}

/*头部结束*/
/*底部开始*/
.button{
  width: 5.65rem;
  height: .8rem;
  background-image: linear-gradient(-45deg, #fb37ca, #fc378d);
  background-image: -webkit- linear-gradient(-45deg, #fb37ca, #fc378d);
  border-radius: .5rem;
  margin:10rem auto 0;
  font-size: .30rem;
  color: #fff;
  line-height: .8rem;
  text-align: center;
  position:relative;

}
.qr  {

  left: 2.25rem;
  top: 0;
  bottom: 0;
}

.dia{
  width: .08rem;
  height: .08rem;
  background:#fff;
  border-radius: 50%;
  position:absolute;
  left: .5rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.dia1{
  width: .08rem;
  height: .08rem;
  background:#fff;
  border-radius: 50%;
  position:absolute;
  right: .5rem;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
/*底部结束*/